#js_instagram-preview-field
   .js_product_field.hidden
    = text_field_tag "product[product_items_attributes][][instagram_image_id]" , "" , class: "js_instagramid"
    = text_field_tag "product[product_items_attributes][][instagram_image_url]" ,"" , class: "js_instagram_thumbnail_url"


