#js_instagram-preview-field
   .js_pack_field.hidden
    = text_field_tag "pack[pack_items_attributes][][instagram_image_id]" , "" , class: "js_instagramid"
    = text_field_tag "pack[pack_items_attributes][][instagram_image_url]" ,"" , class: "js_instagram_thumbnail_url"


