.pack-item-template.hidden
  input type="text" name="pack[pack_items_attributes][][uid]" value=""
  input type="text" name="pack[pack_items_attributes][][image]" value=""
  input type="text" name="pack[pack_items_attributes][][thumb]" value=""

