/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "bootstrap";
@import "bootstrap/theme";
@import "font-awesome";

.wizard a {padding: 12px 1% 10px 1%; margin-right:5px; background:#efefef; position:relative; display:inline-block; }
.wizard a:before {width:0px; height:0px; border-top: 20px inset transparent; border-bottom: 20px inset transparent; border-left: 20px solid #fff; position: absolute; content: ""; top: 0; left: 0;}
.wizard a:after {width:0px; height:0px; border-top: 20px inset transparent; border-bottom: 20px inset transparent; border-left: 20px solid #efefef; position: absolute; content: ""; top: 0; right: -20px; z-index:2;}
.wizard a:first-child:before {border:none;}
.wizard a:last-child:after {border:none;}

.wizard a:first-child {-moz-border-radius: 4px 0 0 4px; -webkit-border-radius: 4px 0 0 4px; border-radius:   4px 0 0 4px;}
.wizard a:last-child {-moz-border-radius: 0 4px 4px 0; -webkit-border-radius: 0 4px 4px 0; border-radius:   0 4px 4px 0;}

.wizard .badge {margin:0 5px 0 18px; position:relative; top:-1px;}
.wizard a:first-child .badge {margin-left:0;}

.wizard .current {background:#007ACC; color:#fff;}
.wizard .current:after {border-left-color:#007ACC;}

.breadcrums {
  margin-bottom: 15px;
}


ol, ul {
  list-style: none;
}

ul#images-list {
  li {
    box-sizing: border-box;
    border: 1px solid #ADADAD;
    float: left;
    margin: 0 0 1.78571% 1.78571%;
    width: 31.547%;
    position: relative;
  }
  img {
    width: 100%;
    height: auto;
    display: inline-block;
    float: left;
    cursor: pointer;
  }
}

.sidebar {
  margin-left: 0;
  margin-right: 0;
}


ul.basket-pack-preview {
  padding: 0;

  a {
    display: inline-block;
  }

  > li {
    border-bottom: 1px solid #000;
    padding-bottom: 4px;
    padding-top: 4px;
  }

  .pack-preview {
    font-size: 0;
    width: 225px;
    padding: 0;

    li {
      box-sizing: border-box;
      display: inline-block;
      margin: 0 0 1px 1px;
      position: relative;
      background-color: #333;
      border: 1px solid #313131;
      color: #FFF;
      text-align: center;
    }
  }

  .action-list {
    width: 200px;
    padding: 0;
    display: inline-block;
  }
}

div.right-basket-details {
  float: left;
  max-width: 340px;
}

div.left-basket-preview {
  width: 48%;
  margin: 0 10% 80px 10%;
}

.panel-body {
  padding: 4px;
}

.panel-footer {
  text-align: center;
}

img.small {
  width: 70px;
  height: auto;
}

.information {
  ul {
    list-style: disc outside;
  }
}