/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";
@import "bootstrap/theme";
@import "font-awesome";

.wizard a {padding: 12px 5% 10px 5%; margin-right:5px; background:#efefef; position:relative; display:inline-block; }
.wizard a:before {width:0px; height:0px; border-top: 20px inset transparent; border-bottom: 20px inset transparent; border-left: 20px solid #fff; position: absolute; content: ""; top: 0; left: 0;}
.wizard a:after {width:0px; height:0px; border-top: 20px inset transparent; border-bottom: 20px inset transparent; border-left: 20px solid #efefef; position: absolute; content: ""; top: 0; right: -20px; z-index:2;}
.wizard a:first-child:before {border:none;}
.wizard a:last-child:after {border:none;}

.wizard a:first-child {-moz-border-radius: 4px 0 0 4px; -webkit-border-radius: 4px 0 0 4px; border-radius:   4px 0 0 4px;}
.wizard a:last-child {-moz-border-radius: 0 4px 4px 0; -webkit-border-radius: 0 4px 4px 0; border-radius:   0 4px 4px 0;}

.wizard .badge {margin:0 5px 0 18px; position:relative; top:-1px;}
.wizard a:first-child .badge {margin-left:0;}

.wizard .current {background:#007ACC; color:#fff;}
.wizard .current:after {border-left-color:#007ACC;}

.breadcrums {
  margin-bottom: 15px;
}


ol, ul {
  list-style: none;
}

ul#images-list {
  li {
    box-sizing: border-box;
    border: 1px solid #ADADAD;
    float: left;
    margin: 0 0 1.78571% 1.78571%;
    width: 31.547%;
    position: relative;
  }
  img {
    width: 100%;
    height: auto;
    display: inline-block;
    float: left;
    cursor: pointer;
  }
}

div.sidebar {
  margin-left: 0;
  margin-right: 0;
}

div.right-basket-details {
  float: left;
  max-width: 340px;
}

div.left-basket-preview {
  width: 48%;
  margin: 0 10% 80px 10%;
}

.panel-body {
  padding: 4px;
}

.panel-footer {
  text-align: center;
}

ul {
  basket-pack-preview {
    width: 50%;
  }
  basket-pack-preview  {
    margin-bottom: 30px;
    padding-bottom: 30px;
    overflow: hidden;
  }
}

img.small {
  width: 70px;
  height: auto;
}


ul.pack-preview  {
    padding: 2.58398%;
    position: relative;
    z-index: 6;
    border-radius: .6em;

    li.empty {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin: 0 0 1.3624% 1.3624%;
    width: 31.97094%;
    padding-bottom: 31.54122%;
    position: relative;
    background-color: #333;
    border: 1px solid #313131;
    color: #fff;
    text-align: center;
    display: list-item;
  }

  li.filled {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin: 2px;
    position: relative;
    background-color: #333;
    border: 1px solid #313131;
    display: list-item;
    text-align: center;
    width: 31.97094%
  }

}