ol, ul {
  list-style: none;
}

.pack-preview {
  padding: 2.58398%;
  position: relative;
  z-index: 6;
  border-radius: .6em;
}
.pack-preview li.filled {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin: 2px;
  position: relative;
  background-color: #333;
  border: 1px solid #313131;
  display: list-item;
  text-align: center;
}

div.pack-preview li.empty {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin: 0 0 1.3624% 1.3624%;
  width: 31.97094%;
  padding-bottom: 31.54122%;
  position: relative;
  background-color: #333;
  border: 1px solid #313131;
  color: #fff;
  text-align: center;
  display: list-item;
}

